/*
1st Refactoring 特性に応じてCSSを分離する
2nd Refactoring HTMLとスタイリングが疎結合である
3rd Refactoring 影響範囲がみだりに広すぎない
4th Refactoring 特定のコンテキストにみだりに依存しない
5th Refactoring 詳細度がみだりに高くない
6th Refactoring クラス名から影響範囲が想像できる
*/

/* ======== ベース ======== */
body {
    font-family: sans-serif;
}

/* ======== レイアウト ======== */
.ly_cont {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ======== モジュール ======== */
.bl_module .bl_module_body > span {
    color: #555;
    font-size: 14px;
}

.bl_module {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
}

.bl_module .bl_module_imageWrapper {
    flex: 1 1 25%;
    margin-right: 3.33333%;
}

.bl_module .bl_module_imageWrapper img {
    width: 100%;
    vertical-align: top;
}

.bl_module .bl_module_body {
    flex: 1 1 68.33333%;
}

.bl_module .bl_module_title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.subTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid #555;;
}